@import url(https://fonts.googleapis.com/css?family=Raleway:700,400);

$raleway: 'Raleway', sans-serif;
$white: #fff;
$gray: #eee;
$black: #444;
$orange: #FF6d00;

table {
	td {
		font-size: 16px;
	}
}

.main {
	width: 100%;
}
.uk-container {
	margin: 0 auto;
}

.uk-navbar {
	background-color: $white;
	height: 100px;
	.uk-navbar-flip {
		.uk-navbar-nav {
			.menu-link {
				height: 100px;
				a {
					-webkit-transition: .3s; /* Safari */
					transition: .3s;
					line-height: 100px;
					height: 100px;
					font-family: $raleway;
					font-weight: 700;
					font-size: 14px;
					text-transform: uppercase;
					cursor: pointer;
					color: $black;
					&:hover {
						color: $orange;
						background-color: transparent;
					}
				}
			}
		}
	}
}

.kmk-logo {
	img {
		width: 100px;
		height: 100px;
		padding: 10px;
	}
}

.form-item {
	width: 100%;
	margin: 0 auto;
	.uk-form-row {
		margin-bottom: 50px;
		p {
			font-size: 20px;
		}
	}
}

/* Summarise */
.section-content {
	padding: 0 20px;
	.question {
		font-size: 20px;
	}
	.reviewer {
		font-size: 16px;
		&.active {
			color: $orange;
		}
	}
}

.show {
	display: default;
}
.hide {
	display: none;
}

.feedback-set {
	margin-bottom: 15px;
	.feedback {
		border: 1px dotted #000;
		padding: 10px 20px;
		font-size: 16px;
		font-style: italic;
	}
	.summary-label {
		font-size: 16px;
	}
	.summary {
		width: 100%;
	}
}

.action-part {
	position: fixed;
	bottom: 0;
	width: 100%;
	> .uk-grid {
		margin-left: 0;
		.progress-bar {
			text-align: center;
			padding: 0;
			line-height: 30px;
		}
		.submit-bar {
			padding: 0;
			.submit-summary {
				width: 100%;
			}
		}
	}
}

.section-wrap {
	.section {
		background-color: #673ab7;
		color: #fff;
		padding: 10px 20px;
		font-weight: 700;
		&.show {
			display: inline-block;
		}
	}
}
