@import url(https://fonts.googleapis.com/css?family=Raleway:700,400);

$raleway: 'Raleway', sans-serif;
$white: #fff;
$gray: #eee;
$black: #444;
$orange: #FF6d00;

.main {
	width: 100%;
}
.uk-container {
	margin: 0 auto;
}

.uk-navbar {
	background-color: $white;
	height: 100px;
	.uk-navbar-flip {
		.uk-navbar-nav {
			.menu-link {
				height: 100px;
				a {
					-webkit-transition: .3s; /* Safari */
					transition: .3s;
					line-height: 100px;
					height: 100px;
					font-family: $raleway;
					font-weight: 700;
					font-size: 14px;
					text-transform: uppercase;
					cursor: pointer;
					color: $black;
					&:hover {
						color: $orange;
						background-color: transparent;
					}
				}
			}
		}
	}
}

.kmk-logo {
	img {
		width: 100px;
		height: 100px;
		padding: 10px;
	}
}

.form-item {
	width: 100%;
	margin: 0 auto;
	.uk-form-row {
		margin-bottom: 50px;
		p {
			font-size: 20px;
		}
	}
}

/* Summarise */
.section {
	.section-content {
		.reviewer {
			&.active {
				color: $orange;
			}
		}
	}
}

.show {
	display: default;
}
.hide {
	display: none;
}

.feedback-set {
	margin-bottom: 15px;
	background: $gray;
}

